<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="container">
<h1>
    <%=title%>
</h1>

    <form action="/alunos/<%=route%>%>" method="post">
        <%if(data.id>= 0){%>
            <input type="hidden" value="<%=data.id%>" name="id" id="id">
            <%}%>
                <label for="nome">Nome</label>
                <input type="text" value="<%=data.nome%>" name="nome" id="nome"><br>
                <label for="curso">Curso</label>
                <input type="text" value="<%=data.curso%>" name="curso" id="curso"><br>
                <label for="matricula">Matricula</label>
                <input type="text" value="<%=data.matricula%>" name="matricula" id="matricula"><br>
                <button class="waves-effect waves-light btn" type="submit">Enviar</button>
                <button class="waves-effect waves-light btn" type="reset">Limpar</button>
                <a class="waves-effect waves-light btn" href="/alunos">Voltar</a>
    </form>
</div>