<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
</script>

<div class="container">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-medium green" href="/alunos/add">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <table>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Matricula</th>
            <th>Ações</th>
        </tr>
        <tbody>

        </tbody>
        <% for(let aluno of alunos){ %>
            <tr>
                <td class="collection-item">
                    <%= aluno.nome %>
                </td>
                <td>
                    <%= aluno.curso %>
                </td>
                <td>
                    <%= aluno.matricula %>
                </td>
                <td>
                    <a href="/alunos/edit/<%= aluno.id %>"><i class="small material-icons">create</i></a>
                    <a href="/alunos/remove/<%= aluno.id %>"><i class="small red-text darken-4 material-icons">delete</i></a>
                </td>
            </tr>
            </tbody>
            <%}%>
    </table>
</div>